@model List<WebApi_OfficeServer_SH.Models.CaseQueue>
@{
    int j1, j6;
    int m1 = 0, m6 = 0;
    List<WebApi_OfficeServer_SH.Models.CaseQueue> Premier_List = Model.Where(q => q.BelongQueue.Contains("-Premier")).ToList();
    List<WebApi_OfficeServer_SH.Models.CaseQueue> BC_List = Model.Where(q => q.BelongQueue.Contains("-BC")).ToList();
}

<h3 class="text-center" style="color:purple;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Premier Queues</h3>

@for (var i = 0; ; i++)
{
    if (!Premier_List.Any())
    {
        <h4 class="text-center" style="color:darkgrey">No case in this queue now. Have a relax :)</h4>
        break;
    }

    <div class="row">
        @for (j1 = 0; j1 < 4; j1++)
        {
            <div class="col-md-3">
                <hr />
                <!--Bypass and Assgined-->
                @if (Premier_List[i + j1 + m1].IfAssign == "true")
                {
                    <h4 class="text-center" style="color:darkblue;">@Html.DisplayFor(item => Premier_List[i + j1 + m1].CaseId)</h4>
                    <h3 style="color:darkblue">SLA - @Html.DisplayFor(item => Premier_List[i + j1 + m1].EndTimeSla)</h3>
                    <p style="color:darkblue">@Html.DisplayFor(item => Premier_List[i + j1 + m1].CustomerTitle)</p>
                    if (!string.IsNullOrWhiteSpace(Premier_List[i + j1 + m1].InternalTitle))
                    {
                        <p style="color:darkblue">Internal title: @Html.DisplayFor(item => Premier_List[i + j1 + m1].InternalTitle)</p>
                    }
                    <b style="color:darkblue">Country: @Html.DisplayFor(item => Premier_List[i + j1 + m1].CallingCountry)</b>
                    <p style="color:darkblue">Queue: @Html.DisplayFor(item => Premier_List[i + j1 + m1].BelongQueue)</p>
                    <h3 style="color:darkblue">Assigned</h3>
                }
                else if (Premier_List[i + j1 + m1].IfBypass == "true")
                {
                    <h4 class="text-center" style="color:grey;">@Html.DisplayFor(item => Premier_List[i + j1 + m1].CaseId)</h4>
                    <h3 style="color:grey">SLA - @Html.DisplayFor(item => Premier_List[i + j1 + m1].EndTimeSla)</h3>
                    <p style="color:grey">@Html.DisplayFor(item => Premier_List[i + j1 + m1].CustomerTitle)</p>
                    if (!string.IsNullOrWhiteSpace(Premier_List[i + j1 + m1].InternalTitle))
                    {
                        <p style="color:grey">Internal title: @Html.DisplayFor(item => Premier_List[i + j1 + m1].InternalTitle)</p>
                    }
                    <b style="color:grey">Country: @Html.DisplayFor(item => Premier_List[i + j1 + m1].CallingCountry)</b>
                    <p style="color:grey">Queue: @Html.DisplayFor(item => Premier_List[i + j1 + m1].BelongQueue)</p>
                    <h3 style="color:slategrey">Bypassed</h3>
                }
                else
                {
                    <h4 class="text-center" style="color:darkblue;">@Html.DisplayFor(item => Premier_List[i + j1 + m1].CaseId)</h4>
                    <h4 style="color:red">SLA - @Html.DisplayFor(item => Premier_List[i + j1 + m1].EndTimeSla)</h4>
                    <p class="lead">@Html.DisplayFor(item => Premier_List[i + j1 + m1].CustomerTitle)</p>
                    if (!string.IsNullOrWhiteSpace(Premier_List[i + j1 + m1].InternalTitle))
                    {
                        <p>Internal title: @Html.DisplayFor(item => Premier_List[i + j1 + m1].InternalTitle)</p>
                    }
                    <b>Country: @Html.DisplayFor(item => Premier_List[i + j1 + m1].CallingCountry)</b>
                    <p>Queue: @Html.DisplayFor(item => Premier_List[i + j1 + m1].BelongQueue)</p>
                    @Html.ActionLink("Assign", "Assigned", new { id = Premier_List[i + j1 + m1].CaseId }, new { @class = "btn btn-success", @style = "margin-right:5px" })
                    @Html.ActionLink("Bypass", "Bypassed", new { id = Premier_List[i + j1 + m1].CaseId }, new { @class = "btn btn-warning" })
                }
            </div>

            if (Premier_List[i + j1 + m1].Equals(Premier_List.LastOrDefault()))
            {
                break;
            }
        }
    </div>
    if (j1 == 4)
    {
        if (Premier_List[i + j1 + m1 - 1].Equals(Premier_List.LastOrDefault()))
        {
            break;
        }
    }
    else
    {
        if (Premier_List[i + j1 + m1].Equals(Premier_List.LastOrDefault()))
        {
            break;
        }
    }

    m1 = m1 + 3;
}



<h3 class="text-center" style="color:purple;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top:80px">BC Queues</h3>

@for (var i = 0; ; i++)
{
    if (!BC_List.Any())
    {
        <h4 class="text-center" style="color:darkgrey">No case in this queue now. Have a relax :)</h4>
        break;
    }

    <div class="row">
        @for (j6 = 0; j6 < 4; j6++)
        {
            <div class="col-md-3">
                <hr />
                <!--Bypass and Assgined-->
                @if (BC_List[i + j6 + m6].IfAssign == "true")
                {
                    <h4 class="text-center" style="color:darkblue;">@Html.DisplayFor(item => BC_List[i + j6 + m6].CaseId)</h4>
                    <h3 style="color:darkblue">SLA - @Html.DisplayFor(item => BC_List[i + j6 + m6].EndTimeSla)</h3>
                    <p style="color:darkblue">@Html.DisplayFor(item => BC_List[i + j6 + m6].CustomerTitle)</p>
                    if (!string.IsNullOrWhiteSpace(BC_List[i + j6 + m6].InternalTitle))
                    {
                        <p style="color:darkblue">Internal title: @Html.DisplayFor(item => BC_List[i + j6 + m6].InternalTitle)</p>
                    }
                    <b style="color:darkblue">Country: @Html.DisplayFor(item => BC_List[i + j6 + m6].CallingCountry)</b>
                    <p style="color:darkblue">Queue: @Html.DisplayFor(item => BC_List[i + j6 + m6].BelongQueue)</p>
                    <h3 style="color:darkblue">Assigned</h3>
                }
                else if (BC_List[i + j6 + m6].IfBypass == "true")
                {
                    <h4 class="text-center" style="color:grey;">@Html.DisplayFor(item => BC_List[i + j6 + m6].CaseId)</h4>
                    <h3 style="color:grey">SLA - @Html.DisplayFor(item => BC_List[i + j6 + m6].EndTimeSla)</h3>
                    <p style="color:grey">@Html.DisplayFor(item => BC_List[i + j6 + m6].CustomerTitle)</p>
                    if (!string.IsNullOrWhiteSpace(BC_List[i + j6 + m6].InternalTitle))
                    {
                        <p style="color:grey">Internal title: @Html.DisplayFor(item => BC_List[i + j6 + m6].InternalTitle)</p>
                    }
                    <b style="color:grey">Country: @Html.DisplayFor(item => BC_List[i + j6 + m6].CallingCountry)</b>
                    <p style="color:grey">Queue: @Html.DisplayFor(item => BC_List[i + j6 + m6].BelongQueue)</p>
                    <h3 style="color:slategrey">Bypassed</h3>
                }
                else
                {
                    <h4 class="text-center" style="color:darkblue;">@Html.DisplayFor(item => BC_List[i + j6 + m6].CaseId)</h4>
                    <h4 style="color:red">SLA - @Html.DisplayFor(item => BC_List[i + j6 + m6].EndTimeSla)</h4>
                    <p class="lead">@Html.DisplayFor(item => BC_List[i + j6 + m6].CustomerTitle)</p>
                    if (!string.IsNullOrWhiteSpace(BC_List[i + j6 + m6].InternalTitle))
                    {
                        <p>Internal title: @Html.DisplayFor(item => BC_List[i + j6 + m6].InternalTitle)</p>
                    }
                    <b>Country: @Html.DisplayFor(item => BC_List[i + j6 + m6].CallingCountry)</b>
                    <p>Queue: @Html.DisplayFor(item => BC_List[i + j6 + m6].BelongQueue)</p>
                    @Html.ActionLink("Assign", "Assigned", new { id = BC_List[i + j6 + m6].CaseId }, new { @class = "btn btn-success", @style = "margin-right:5px" })
                    @Html.ActionLink("Bypass", "Bypassed", new { id = BC_List[i + j6 + m6].CaseId }, new { @class = "btn btn-warning" })
                }
            </div>

            if (BC_List[i + j6 + m6].Equals(BC_List.LastOrDefault()))
            {
                break;
            }
        }
    </div>
    if (j6 == 4)
    {
        if (BC_List[i + j6 + m6 - 1].Equals(BC_List.LastOrDefault()))
        {
            break;
        }
    }
    else
    {
        if (BC_List[i + j6 + m6].Equals(BC_List.LastOrDefault()))
        {
            break;
        }
    }

    m6 = m6 + 3;
}

