@model List<WebApi_OfficeServer_SH.Models.CaseQueue>
@{int j; }
@for (var i = 0; ; i++)
{
    if (!Model.Any())
    {
        break;
    }

    <div class="row">
        @for (j = 0; j < 4; j++)
        {
        <div class="col-md-3">
            <hr />
            <h4 class="text-center" style="color:darkblue;">@Html.DisplayFor(item => Model[i + j].CaseId)</h4>
            <h4 style="color:red">SLA Deadline: @Html.DisplayFor(item => Model[i + j].EndTimeSla)</h4>
            <p class="lead">Title: @Html.DisplayFor(item => Model[i + j].CustomerTitle)</p>
            <p>Country: @Html.DisplayFor(item => Model[i + j].CallingCountry)</p>
            <p>Queue: @Html.DisplayFor(item => Model[i + j].BelongQueue)</p>
        </div>

            if (Model[i + j].Equals(Model.LastOrDefault()))
            {
                break;
            }
        }
    </div>

    if (Model[i + j].Equals(Model.LastOrDefault()))
    {
        break;
    }
}
