@model List<WebApi_OfficeServer_SH.Models.CaseWellness>
@{ 
    string[] aliasList = new string[] {"REYU", "YOUWAN", "CATWANG", "XIALIA", "KANCH", "MIHUI", "TINGYA", "WEIGE", "HZHOU", "DAYWANG", "YINILI", "SHAGUO", "MINZHO", "ZHALE"}; <!--0 ~ 13-->
    string[] nameList = new string[] { "Rene Yu", "Birney Wang", "Catherine Wang", "Xiao Liang", "Kang Chen", "Midy Hui", "Bruce Yang", "Fish Ge", "Hongtao Zhou", "Will Wang", "Cassie Li", "David Guo", "Ming Zhou", "Andy Zhang" };
}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @for (int i=0;i<14;i++)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="@(i+"heading")">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="@("#collapse"+i)" aria-expanded="false" aria-controls="@("collapse"+i)">
                        @nameList[i] - Total: @Model.Where(c => c.OwnerAlias == aliasList[i]).Count()
                    </a>
                </h4>
            </div>
            <div id="@("collapse"+i)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@(i+"heading")">
                <div class="panel-body">
                    <h4 class="text-center" style="color:darkblue">Pending CTS</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == aliasList[i] && m.WaitState == "Pending CTS"))
                        {
                            <tr>
                                <td>@Html.DisplayFor(p => item.CaseId)</td>
                                <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                <td>@Html.DisplayFor(p => item.Labor)</td>
                                <td>@Html.DisplayFor(p => item.IdleDays)</td>
                            </tr>
                        }
                    </table>
                    <h4 class="text-center" style="color:darkblue">Pending Customer</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == aliasList[i] && m.WaitState == "Pending Customer"))
                        {
                            <tr>
                                <td>@Html.DisplayFor(p => item.CaseId)</td>
                                <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                <td>@Html.DisplayFor(p => item.Labor)</td>
                                <td>@Html.DisplayFor(p => item.IdleDays)</td>
                            </tr>
                        }
                    </table>
                    <h4 class="text-center" style="color:darkblue">Pending Development</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == aliasList[i] && m.WaitState == "Pending Development"))
                        {
                            <tr>
                                <td>@Html.DisplayFor(p => item.CaseId)</td>
                                <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                <td>@Html.DisplayFor(p => item.Labor)</td>
                                <td>@Html.DisplayFor(p => item.IdleDays)</td>
                            </tr>
                        }
                    </table>
                    <h4 class="text-center" style="color:darkblue">Solution Delivered - Pending confirmation</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == aliasList[i] && m.WaitState == "Solution Delivered - Pending Confirmation"))
                        {
                            <tr>
                                <td>@Html.DisplayFor(p => item.CaseId)</td>
                                <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                <td>@Html.DisplayFor(p => item.Labor)</td>
                                <td>@Html.DisplayFor(p => item.IdleDays)</td>
                            </tr>
                        }
                    </table>
                     <h4 class="text-center" style="color:darkblue">Solution Delivered - Solution Confirmed</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == aliasList[i] && m.WaitState == "Solution Delivered - Solution Confirmed"))
                        {
                            <tr>
                                <td>@Html.DisplayFor(p => item.CaseId)</td>
                                <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                <td>@Html.DisplayFor(p => item.Labor)</td>
                                <td>@Html.DisplayFor(p => item.IdleDays)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }

</div>