@model List<WebApi_OfficeServer_SH.Models.CaseWellness>
@{
    Dictionary<string, string> alias_name_dic = new Dictionary<string, string>
    {
        {"REYU", "Rene Yu" },{"YOUWAN", "Birney Wang" },{"CATWANG", "Catherine Wang" },{"XIALIA", "Xiao Liang" },{"KANCH", "Kang Chen" },{"MIHUI", "Midy Hui" },{"TINGYA", "Bruce Yang" },
        { "WEIGE", "Fish Ge" },{ "HZHOU", "Hongtao Zhou" },{"DAYWANG", "Will Wang" },{"YINILI", "Cassie Li" },{"SHAGUO", "David Guo" },{"MINZHO", "Ming Zhou" },{"ZHALE", "Andy Zhang" },{"V-FETA", "Felix Tao" }
    };
    var sortAliasList = Model.GroupBy(x => x.OwnerAlias).Select(x => new { Count = x.Count(), Alias = x.Key }).OrderByDescending(x => x.Count).ToList();
    int i = 0;
}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @foreach(var x in sortAliasList)
    {
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="@(i+"heading")">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="@("#collapse"+i)" aria-expanded="false" aria-controls="@("collapse"+i)">
                        @alias_name_dic[x.Alias]   ---   Case Amount:@x.Count
                    </a>
                </h4>
            </div>
            <div id="@("collapse"+i)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@(i+"heading")">
                <div class="panel-body">
                    <h4 class="text-center" style="color:darkblue">Pending CTS</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == x.Alias && m.WaitState == "Pending CTS"))
                        {
                            if (Int32.Parse(item.IdleDays) > 5)
                            {
                                <tr>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseId)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.Labor)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@Html.DisplayFor(p => item.CaseId)</td>
                                    <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td>@Html.DisplayFor(p => item.Labor)</td>
                                    <td>@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                        }
                    </table>
                    <h4 class="text-center" style="color:darkblue">Pending Customer</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == x.Alias && m.WaitState == "Pending Customer"))
                        {
                            if (Int32.Parse(item.IdleDays) > 5)
                            {
                                <tr>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseId)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.Labor)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@Html.DisplayFor(p => item.CaseId)</td>
                                    <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td>@Html.DisplayFor(p => item.Labor)</td>
                                    <td>@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                        }
                    </table>
                    <h4 class="text-center" style="color:darkblue">Pending Development</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == x.Alias && m.WaitState == "Pending Development"))
                        {
                            if (Int32.Parse(item.IdleDays) > 5)
                            {
                                <tr>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseId)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.Labor)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@Html.DisplayFor(p => item.CaseId)</td>
                                    <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td>@Html.DisplayFor(p => item.Labor)</td>
                                    <td>@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                        }
                    </table>
                    <h4 class="text-center" style="color:darkblue">Solution Delivered - Pending confirmation</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == x.Alias && m.WaitState == "Solution Delivered - Pending Confirmation"))
                        {
                            if (Int32.Parse(item.IdleDays) > 5)
                            {
                                <tr>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseId)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.Labor)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@Html.DisplayFor(p => item.CaseId)</td>
                                    <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td>@Html.DisplayFor(p => item.Labor)</td>
                                    <td>@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                        }
                    </table>
                     <h4 class="text-center" style="color:darkblue">Solution Delivered - Solution Confirmed</h4>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <td>Case ID</td>
                            <td>SR Title</td>
                            <td>Last Communication</td>
                            <td>Days Open</td>
                            <td>Labor</td>
                            <td>Idle Days</td>
                        </tr>
                        @foreach (var item in Model.Where(m => m.OwnerAlias == x.Alias && m.WaitState == "Solution Delivered - Solution Confirmed"))
                        {
                            if (Int32.Parse(item.IdleDays) > 5)
                            {
                                <tr>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseId)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.Labor)</td>
                                    <td style="color:red">@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@Html.DisplayFor(p => item.CaseId)</td>
                                    <td>@Html.DisplayFor(p => item.CaseTitle)</td>
                                    <td>@Html.DisplayFor(p => item.LastCommTime)</td>
                                    <td>@Html.DisplayFor(p => item.OpenDays)</td>
                                    <td>@Html.DisplayFor(p => item.Labor)</td>
                                    <td>@Html.DisplayFor(p => item.IdleDays)</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        i++;
    }

</div>